/*================*/
/* General styles */
/*================*/

html {
  box-sizing: border-box; /* Alternative box model */
  font-family: 'Roboto', sans-serif;
  font-size: 10px; /* Makes calculations of other font sizes easier */ 
}

*,
*::before,
*::after {
  box-sizing: inherit; /* Inherit alternative box model */
}

body {
  margin: 0 auto;  
}

h1 {
  font-family: 'Commissioner', sans-serif;
  font-size: 5em;  
}

h2 {
  font-family: 'Commissioner', sans-serif;
  font-size: 3em;
}

p {
  font-size: 1.8em;  
  line-height: 1.6;
}

footer {
  font-size: 1.5em;
  padding-top: 2.5em;    
  color: #9494b8;  
  text-align: center;  
}

hr {  
  border-color: #e6e6ff;
}

.footer-top-rule {
  max-width: 20em;
}

/*==========================*/
/* Homepage-specific styles */
/*==========================*/

.home-page {
  max-width: 720px;
  text-align: center;  
}

.home-page header {
  margin-bottom: 3em;
}

.home-page h1 {
  font-size: 6em;
  color: #000080;
}

.home-page header a {
  outline: none;
  text-decoration: none;
  display: inline-block; /* So that the link can be sized, but won't spill onto new line */
  font-size: 3em;
  font-weight: bold;
  color: #fff;  
  padding: 0.5em 1em;
  border-radius: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.home-page header a:link,
.home-page header a:visited {
  background-color: #1a1aff;
}

.home-page header a:focus,
.home-page header a:hover {
  background-color: #0000cc;
}

.home-page header a:active {
  background-color: #000080;
}

/*===================*/
/* Navigation styles */
/*===================*/

nav.wide {
  display: none;
}

nav.narrow {
  font-size: 1.5em;          
}

a.home-page-link {
  display: inline-block; /* So that padding can be added */
  font-weight: bold;  
  padding: 1.5em 0;  
  margin-bottom: 2em;
  text-decoration: none;
}

nav.narrow a.home-page-link:link,
nav.narrow a.home-page-link:visited {
  color: #000099;    
}

nav.narrow a.home-page-link:focus,
nav.narrow a.home-page-link:hover {
  background-color: #ccddff;  
  color: #000099;    
}

nav.narrow a.home-page-link:active {
  background-color: #0000cc;  
  color: white;    
} 

nav.narrow .left-nav-link,
nav.narrow .right-nav-link {
  font-size: 1em;
}

a.left-nav-link {    
  margin-right: 2em;
}

a.left-nav-link,
a.right-nav-link
{
  border-radius: 0.5em;
  color: #000;  
  padding: 0.5em 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;      
}

a.left-nav-link:link,
a.left-nav-link:visited,
a.right-nav-link:link,
a.right-nav-link:visited {  
  background-color: #cce6ff;  
}

a.left-nav-link:focus,
a.left-nav-link:hover,
a.right-nav-link:focus, 
a.right-nav-link:hover {  
  background-color: #99ccff;
}

a.left-nav-link:active,
a.right-nav-link:active {
  background-color: #4da6ff;
}   

/*===================================================*/
/* Margin-related styles for the main content block */
/*===================================================*/

main {    
  margin: 0 auto;
  max-width: 80em;
}

@media screen and (max-width: 850px) {
  main {
    margin: 0 24px;
  }
}

/*=================*/
/* Larger screens */
/*=================*/

@media screen and (min-width: 1160px) {
  nav.narrow {
    display: none;
  }    

  nav.wide {
    display: block;    
    grid-area: main-nav;    
    position: fixed;  
    font-size: 1.8em;        
    background-color: #00004d;    
    height: 100%;  
    overflow: auto; /* Vertical scrollbar */      
  }        
  
  main {
    grid-area: main-content;    
    margin-left: 3em;    
  }

  main h1 {
    font-size: 5em;
    margin-top: 0.2em;
  }
  
  footer {
    grid-area: main-footer;
  }

  .container {
    display: grid;        
    grid-template-columns: 1fr 3fr;  
    grid-template-areas: 
      "main-nav main-content"      
      "main-nav main-footer";
  }    
  
  .nav-menu-header-item {
    color: white;
    font-weight: bold;
  }

  .nav-menu-section-item {
    font-weight: normal;
  }
  
  nav.wide ol {    
    list-style-type: none;
    padding-left: 1em;        
  }  
  
  nav.wide a {
    outline: none;
    text-decoration: none;  
    color: #e0e0eb;
  }            
  
  nav.wide li {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-right: 1em;
  }
    
  nav.wide a.home-page-link {    
    font-family: 'Commissioner', sans-serif;
    padding-top: 0.6em;
    padding-bottom: 0.6em; 
    font-size: 0.8em;    
    line-height: 1.8;
  }  
  
  nav.wide a.home-page-link:focus,
  nav.wide a.home-page-link:hover {
    background-color: #e6eeff;        
    color: #0000cc;    
  }

  nav.wide a.home-page-link:active {    
    background-color: #666699;    
    color: white;    
  }  

  a.nav-menu-section-item:focus,
  a.nav-menu-section-item:hover
  {
    background-color: #c2c2d6;
    color: #000;
  }

  a.nav-menu-section-item:active
  {
    background-color: #666699;    
    color: white;
  }        
}